<ion-header>

  <ion-navbar>
    <ion-title>Listar Macs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="conteudo">
  
  <ion-row *ngIf="!getMacs()">
    <ion-col>
      <ion-list *ngFor="let mac of similaridades">
        <ion-item class="item item-block item-md">
          <p>Mac: {{mac.mac}}</p>
          <p>Similaridade: {{mac.similaridade}}</p>
          <p>Status: {{mac.status}}</p>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="getMacs()">
    <ion-col>
      <ion-list>
        <ion-item class="item item-block item-md">
          <p>Não existem macs com similaridade</p>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
